Sphinx==6.2.1
sphinx-rtd-theme==1.2.2
matplotlib.pyplot>=3.5.1
pandas>=2.0.0
motuclient==1.8.4
xarray>=2023.1.0
rioxarray>=0.13.4
beautifulsoup4>=4.8.2
regex>=2022.9.13
statsmodels>=0.13.5
cftime>=1.6.2
streamlit>=1.22.0
streamlit-option-menu<=0.3.5
pydeck>=0.7.0
plotly==5.14.1
mpld3>=0.5.9
pymannkendall>=1.4.3